{% extends "uibase.html" %}

{% block head %}
<style type="text/css">
body { padding-top: 60px; }
.bookmarks .url { font-size: smaller; }
.bookmarks li { margin-bottom: 10px; }
.tag { background-color: #BFBFBF; padding: 1px 3px 2px; border-radius: 3px; color: white; text-decoration: none; font-size: 9.75px;}
.tag a { color: white; }
</style>
{% endblock %}

{% block sidebar %}
		<h1>Top tags</h1>
		<p>
		{% for tag, count in tags[ : 100 ] %}
			<a class="tag" href="?tags={{tag}}">{{ tag }}</a> <small>{{ count|int }}</small>
		{% endfor %}
		</p>
{% endblock %}	

{% block content %}
		<div class="page-header">
			<h1>Bookmarks</h1>
		</div>

		<ul class="bookmarks unstyled">
			{% for bm in bookmarks %}
			<li>
			<a href="{{ bm[ 1 ] }}">{{ bm[ 2 ] }}</a> ({{ bm[ 0 ] }})
			
			<div>{% for tag in bm[ 3 ] %}<a class="tag" href="?tags={{tag}}">{{ tag }}</a> {% endfor %}</div>
			</li>
			{% endfor %}
		</ul>
{% endblock %}	
