{% extends "base.html" %}

{% block head %}
<script src="/static/jquery.tablesorter.min.js"></script>
<script>
$(function() {
	$( "#bookmarks" ).tablesorter();
});
</script>
<style type="text/css">
body {
	padding-top: 60px;
}
</style>
{% endblock %}

{% block body %}
<div class="topbar">
	<div class="fill">
		<div class="container-fluid">
			<a class="brand" href="/">No Fuss Bookmarks</a>
			<ul class="nav">
				<li><a href="https://github.com/mapio/nofussbm">GitHub</a></li>
				<li><a href="https://chrome.google.com/webstore/detail/cgahojkildjmnkcjpfbojdbnpbphdieo">Chrome Web Store</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid">

	<div class="sidebar">
		<h1>Top tags</h1>
		<ul>
		{% for tag, count in tags %}
			<li>{{ tag }} ({{ count|int }})</li>
		{% endfor %}
		</ul>
	</div>
	
	<div class="content">
		<div class="page-header">
			<h1>Bookmarks</h1>
		</div>

		<table id="bookmarks" class="zebra-striped">
		<thead><tr><th>Date</th><th>Bookmark</th><th>Tags</th></tr></thead><tbody>
		{% for bm in bookmarks %}
		<tr><td>{{ bm[ 0 ] }}</td><td><a href="{{ bm[ 1 ] }}">{{ bm[ 2 ][:40] }}</a></td><td>{{ bm[ 3 ]|join( ' ' ) }}</td></tr>
		{% endfor %}
		</tbody></table>

	</div>

	<footer>
		<p>&copy; Massimo Santini 2011</p>
	</footer>

</div>
{% endblock %}